body {
 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.padding-0{
    padding:0px;
}

.center-text{
    background: none repeat scroll 0 0 #FFffff;
    margin: 0 auto;
    text-align:center;
}
.jumbotron{
    font-family: 'Montserrat', sans-serif;
    padding-top: 70px;
    padding-bottom: 70px;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: rgba(140, 107, 62, 0.86);
    border-color: rgba(140, 107, 62, 0.86);
}

.panel-primary {
    border-color: rgba(140, 107, 62, 0.86);
}

.btn-primary {
    color: #fff;
    background-color: rgba(140, 107, 62, 0.86);
    border-color: rgba(140, 107, 62, 0.86);
}
.btn-primary:hover {
    color: #fff;
    background-color: rgba(140, 107, 6, 1);
    border-color: rgba(140, 107, 62,1);
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #9a7e57;
    border-color: #9a7e57;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: #9a7e57;
    border-color: #9a7e57;
}